@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 8px;
  height: calc(100vh - 16px);
  background: #EFF6F9;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
  align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    padding: 24px;
    border-radius: 12px;
    background: white;
}
.logo{
  border-radius: 8px;
}

.header{
  flex-direction: row;
  margin-bottom: 12px;
  padding: 8px;

}
header h3{
  width: 100%;
  text-align: center;
  line-height: 29px;
  position: absolute;
  left: 0;
}
.search-bar{
  padding: 12px;
  border-radius: 48px;
  flex-direction: row;
  gap: 8px;
  transition: 0.4s ease-in-out;
  margin-bottom: 12px;
  position: sticky;
  top: 12px;
  z-index: 2;
  box-shadow: 0 4px 8px 0 rgba(179, 201, 221, 0.25);
}

.search-bar:hover {
  scale: 1.1;
}

.input-search{
  border: unset;
  border-radius: 24px;
  width: calc(100vw / 3);
  outline: none;
  padding: 12px 24px;
  transition: 0.2s ease-in-out;
  background: #EFF6F9;

}
.input-search:hover{
  background: #F5F5F5;
}
.input-search:focus{
  background: lightgray;
}

.btn{
  display: flex;
  line-height: 18px;
  padding: 12px 24px;
  border-radius: 24px;
  border: unset;
  transition: 0.2s width ease-in-out;
  color: white;
  background: darkcyan;

}

.btn:hover {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
  0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background: teal;
}
.btn:active{
  box-shadow: unset;
  background: teal;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  width: calc(100vw - 32px);
  margin-bottom: 24px;
}
.gallery-item{
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 24px;
  transition: 0.2s ease-in-out;
  position: relative;
}

.gallery-item:hover{
  scale: 1.05;
  transition: 0.2s ease-in-out;
}
.gallery-item:hover .bottom-panel{
  background: rgba(0,0,0,0.5);
  transition: 0.4s ease-in-out;
}

.gallery-link{
  max-width: 250px;
  max-height: 250px;
  overflow: hidden;
}
.gallery-image{
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.tip{
  font-weight: lighter;
  padding: 48px;
}

.loader {
  border: 4px solid white;
  border-top: 4px solid darkcyan;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 2s linear infinite;
  transition: 0.2s ease-in-out;
}

/* Keyframe animation for spinning */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hidden{
  display: none;
}
.bottom-panel{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 32px;
  gap: 8px;
}

 .material-symbols-outlined {
   font-size: 16px;
   font-variation-settings:
     'FILL' 1,
     'wght' 400,
     'GRAD' 0,
     'opsz' 24
 }
.like-chip{
  display: flex;
  align-items: center;
  gap: 1px;
  height: 12px;
  color: white;
  font-size: 14px;
}
.chip-text{
  color: white;
}
.not-found{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
  height: 50vh;
}
.not-found span{
  font-size: 108px;
}

.blink{
  animation: blink 0.3s linear infinite;
}

@keyframes blink {
  0%{ background: #F5F5F5;}
  50%{ background: lightgray;}
  100%{ background: #F5F5F5;}
}